
	<!-- Include Head -->
	<%- include("./partials/head") %>
	<!-- Header -->
 
	<% if (locals.user != null) { %>
		<%- include("./partials/headerLogueado") %>
		<% } else { %>
			<%- include("./partials/header") %>
	<% } %>
	<!-- /Header -->

	<!-- product detail --> 
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title"><%= productos.nombre %></h2>
					<p class="product-detail-description">
						<% if (locals.user.id == productos.usuario.id ) { %>
							<a href="/product/edit/<%= productos.id %>">Editar</a></p>
						 <% } else { %>
						<% } %>
				</div>
				<p> <a href="/profile/id/<%= productos.usuario.id %>" class="products-title"> By: <%= productos.usuario.usuario %> </a> </p> 
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="<%= productos.foto_producto %>" alt="" class="product-detail-img">
							<p class="product-detail-description"><%= productos.descripcion %></p>
						</article>
						<div class="col-12 col-lg-4"> 
							<% for( let i = 0; i < productos.comentarios.length; i++ ) { %>
								<section class="comments">
									<article>
										<img src="<%= productos.comentarios[i].usuario.foto_perfil %>" alt="">
										<div class="data">
											<p class="user">
											<strong> <a href="/profile/id/ <%= productos.comentarios[i].usuario.id %>"><%= productos.comentarios[i].usuario.usuario %></a> </strong><%= productos.comentarios[i].comentario %>
											</p>
										</div>
									</article>
								</section>
							
							<% } %>
							<form class="form" action="" method="POST">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
						</div>
					</div>
				</div>
			</div>

	
	<!-- /product detail -->

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->